/* imports */
/* taken from http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
/* set rem font size with pixel fallback */
/* breakpoints */
/* animations and keyframes */
/* transitions */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/* variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e5cace; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex: 1;
  height: 100%;
  justify-content: center; }

#instructions {
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  height: auto;
  justify-content: center;
  flex: 1 auto;
  margin: 40px;
  padding: 40px 15px;
  color: #fff; }
  #instructions h1 {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 30px; }

#game {
  padding: 50px;
  flex: 9 auto;
  background-color: #f1e2e4;
  margin: 40px 40px 40px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.game-window {
  text-align: center;
  min-width: 70%;
  width: 70%;
  max-width: 70%;
  min-height: 70%;
  height: 70%;
  max-height: 70%; }

#editor {
  font-family: monospace;
  flex: 8 auto;
  color: #333;
  border: 20px solid #fff;
  padding: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: #999;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear; }

.submit-button {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 80px;
  padding: 10px 40px;
  text-transform: uppercase;
  color: #e5cace;
  letter-spacing: 1.1;
  border: none;
  outline: none;
  background-color: #fff; }

#confirm-submit {
  margin-top: 30px;
  display: none;
  font-family: "Roboto Condensed", sans-serif; }

.infocard {
  background-color: #fff;
  color: #e5cace;
  margin: 5px 20px;
  padding: 30px; }
  .infocard h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5cace; }
  .infocard p {
    margin-top: 10px; }

#challenge-text {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

select:active, select:hover {
  outline: none;
  border: none; }

#challenge-text select {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  color: #e5cace;
  border: 0;
  border-radius: 0;
  outline: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

#challenge-text select::-ms-expand {
  display: none; }

#challenge-text select:hover,
#challenge-text select:focus {
  color: #e5cace;
  background: #fff; }

#challenge-text select:disabled {
  pointer-events: none;
  opacity: .5; }

.select_arrow {
  position: absolute;
  top: -15px;
  right: 0px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #e5cace transparent transparent transparent; }

#challenge-text select:hover ~ .select_arrow,
#challenge-text select:focus ~ .select_arrow {
  border-top-color: #fff; }

#challenge-text select:disabled ~ .select_arrow {
  border-top-color: #fff; }

.submit-button {
  -webkit-transition: color 0.8s ease;
  -moz-transition: color 0.8s ease;
  -ms-transition: color 0.8s ease;
  -o-transition: color 0.8s ease;
  transition: color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
  -moz-transition: background-color 0.8s ease;
  -ms-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease; }

.submit-button:hover {
  -webkit-transition: color 0.8s ease;
  -moz-transition: color 0.8s ease;
  -ms-transition: color 0.8s ease;
  -o-transition: color 0.8s ease;
  transition: color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
  -moz-transition: background-color 0.8s ease;
  -ms-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
  color: #fff;
  background-color: #e5cace; }

#back {
  text-align: center;
  margin-top: 10px; }
  #back a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    color: #e5cace;
    text-transform: uppercase;
    letter-spacing: 1.1;
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -ms-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -ms-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #back a:hover {
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
    -ms-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -ms-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
    color: #fff;
    background-color: #e5cace; }

/*# sourceMappingURL=code-golf_game.css.map */
