/* imports */
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* variables */
$title-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$rosegold: #e5cace;
$lighter: #f1e2e4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $title-font;
}

html, body, .viewport{
     width: 100%;
     height: 100%;
     margin: 0;
 }

body {
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  background-color: $rosegold;
}

p, div {
  font-family: $title-font;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-flow: row nowrap;
  flex: 1;
  height: 100%;
  // align-items: center;
  justify-content: center;
}

#instructions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-flow: column nowrap;
  height: auto;
  // align-items: center;
  justify-content: center;
    flex: 1 auto;
    margin: 40px;
    // background-color: $lighter;
    padding: 40px 15px;
    color: #fff;

    h1 {
        text-align: center;
        font-family: $title-font;
        @include font-size(40px);
        text-transform:  uppercase;
        margin-bottom: 30px;
    }

}

#game {
    flex: 9 auto;
    background-color: $lighter;
    margin: 40px 40px 40px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.game-window {
  text-align: center;
  min-width: 70%;
  width: 70%;
  max-width: 70%;
  min-height: 70%;
  height: 70%;
  max-height: 70%;
}

#chameleon-game {
    border: 20px solid #fff;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #32CD32;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.submit-button {
    margin-top: 30px;
    padding: 10px 40px;
    text-transform: uppercase;
    color: $rosegold;
    letter-spacing: 1.1;
    border: none;
    background-color: #fff;
}
#confirm-submit {
  margin-top: 10px;
  display: none;
}

.infocard {
    background-color: #fff;
    color: $rosegold;
    margin: 5px 20px;
    padding: 30px;

    h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid $rosegold;
    }

    p {
        margin-top: 10px;
    }
}
