/* imports */
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* variables */
$body-font: 'Roboto', sans-serif;
$accent1: #72376f;
$accent2: #481e46;
$accent3: #2b132b;
