<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Caltech's annual Hackathon!">
    <title>Hacktech {{ error_code }}</title>
  </head>
  <body>
    <section id="landing">
      <div class="contents">
        <img src="/assets/img/flower_white.png" />
        <h1>Hacktech {{ error_code }}</h1>
        <h3>You look lost. <a href="/" style="color:white;">Click on me</a> to return back to civilization.</h3>
        
      </div>
    </section>
  </body>
</html>
