<!doctype html>
<html>
  <head>
    <title>Where's the chameleon?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheets/chameleon_game.css') }}" />
  </head>
  <body>
    <div class="container">
        <div id="instructions">
            <h1>Chameleon</h1>
            <div class="infocard">
                <h3>How to Play</h3>
                <p>Click on the chameleon to change its color.</p>
            </div>
            <div class="infocard">
                <h3>Scoring</h3>
                <p>It's a secret. :)</p>
            </div>
            <div class="infocard">
                <h3>How to Exit</h3>
                <p>Simply close the window!</p>
            </div>
        </div>
        <div id="game">
            <div class="game-window">
              <div id="chameleon-game" onclick="change_color('chameleon-game')">
                This is the chameleon. (I know, it's a beauty, eh?)
              </div>
            </div>
              <button class="submit-button" onclick="submit_score()">I'm done.</button>
              <div id="confirm-submit"> WOW you didn't even try. A+++ </div>
        </div>
    </div>
  </body>
</html>
<script>
function submit_score() {
    post_score("chameleon", "{{username}}", score)
    if (score > 0) {
        document.getElementById("confirm-submit").innerHTML = "Congrats, you get your life back!!";
    }
    document.getElementById("confirm-submit").style.display = "block";
    score = 0;
}
</script>
<script src="{{url_for('static', filename='javascript/chameleon_game.js')}}"></script>
<script src="{{url_for('static', filename='javascript/firebase.js')}}"></script>
<!--script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script-->
<script src="{{url_for('static', filename='javascript/common.js')}}"></script>
