<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gametech - Play - Code Golf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/Gametech/code-golf_game.css') }}" />
  </head>

<body>
    <div id="instructions">
        <h1>Code Golf</h1>
        <div class="infocard">
            <h3>How to Play</h3>
            <p>Solve the problem in as few characters as possible!</p>
        </div>
        <div class="infocard">
            <h3>Scoring</h3>
            <p>The number of characters you use.</p>
        </div>
        <div class="infocard">
            <h3>How to Exit</h3>
            <p>Press the back button below to return to the leaderboard.</p>
        </div>
        <div id="back"><a href="/leaderboard?name={{username}}">Back</a></div>
    </div>
    <div id="game">
<div class="game-window">
      <div id="challenge-text">
        Write a function f that takes in a number and returns it multiplied by 10.
      </div>
      <div id="editor">def f(n):
      return n
      </div>
  </div>
  <button class="submit-button" onclick="submit_code()">Submit!</button>
  <div id="confirm-submit"> Try again! </div>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../static/javascript/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/iplastic");
editor.getSession().setMode("ace/mode/python");
editor.getSession().setUseWrapMode(true);
editor.setOptions({
  fontFamily: "monospace",
  fontSize: "10pt"
});

$.ajax({
  type: "GET",
  url: "/api/code_golf",
  success: function(data) {
    data = JSON.parse(data);
    var dropdownContent = "<select id='qs'>";
    for (var i = 1; i < Object.keys(data).length+1; i ++) {
      dropdownContent += "<option value='question" + i.toString() + "'>" +
      data[i] + "</option>";
    }
    dropdownContent += '</select><div class="select-arrow"></div>';
    document.getElementById('challenge-text').innerHTML = dropdownContent;
  }
});



editor.commands.addCommand({
  name: 'myCommand',
  bindKey: {win: 'Ctrl-K',  mac: 'Command-K'},
  exec: submit_code,
  readOnly: true
});

function submit_code() {
  var chosenQ = document.getElementById("qs").selectedIndex + 1;
  $.ajax({
    type: "POST",
    url: "/api/code_golf",
    data: {"code": editor.getValue(), "question": chosenQ},
    success: function(data){
      data = JSON.parse(data);
      var result_box = document.getElementById("confirm-submit");
      result_box.style.display = "block";
      result_box.innerHTML = data["result"];

      if (data["chars"] != 0) {
        var points = Math.max(0, 100 - Math.round(data["chars"] / 5));
        post_score("code_golf"+chosenQ.toString(), "{{username}}", points);
        result_box.innerHTML += " and earned " + points + " points!";
      }

    },
  });
}
</script>
<script src="{{url_for('static', filename='js/firebase.js')}}"></script>
<!--script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script-->
<script src="{{url_for('static', filename='js/common.js')}}"></script>


</body>
</html>
