<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trivia Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>

<body onload="initial_load()">
  <div class="game-window">
    <div id="header">Welcome to Trivia!</div>
    <div id="confirm-submit" class="top"> How'd you do? </div>
    <div id="question">Loading question...</div>
    <div id="answer"> <input id="solution" type="text"></div>
    <button id="next" onclick="next()"> Submit </button>
    
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='javascript/firebase.js')}}"></script>
<script src="{{url_for('static', filename='javascript/common.js')}}"></script>
<script>
var q_no = 0;
var user_id = -1;

function initial_load() {
  start_firebase();
  console.log("starting");
  firebase.database().ref("users").once("value").then(function(snapshot) {
    var users = snapshot.val();
    for (var i = 0; i < users.length; i++) {
      console.log(users[i]["name"]);
      if (users[i]["name"] == '{{username}}') {
        user_id = i;
        q_no = users[i]['trivia_question'];
        load_question(q_no); 
      }
    };
  });
}

function load_question(q_no) {
  $.ajax({
    type: "GET",
    url: "/api/trivia_game",
    data: {
      "question": q_no
    },
    success: function(data) {
      document.getElementById("question").innerHTML = data
    }
  }); 
}
function next() {
  var guess = document.getElementById('solution').value;
  console.log(guess)
    console.log(q_no)
  $.ajax({
    type: "POST",
    url: "/api/trivia_game",
    
    data: {"answer": guess, "question": q_no},
    success: function(data) {
      document.getElementById("question").innerHTML = "Loading question..."
      data = JSON.parse(data);
      var result_box = document.getElementById("confirm-submit");
      result_box.style.display = "block";
      result_box.innerHTML = data["result"];
      if (data["result"] == "Correct!") {
        increase_score("trivia", user_id, 10);
      }
      q_no++;
      firebase.database().ref("users/"+ user_id.toString() + "/").update(
        {"trivia_question": q_no});
      load_question(q_no);
    },
  });
}
</script>

</html>
