<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trivia Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheets/trivia_game.css') }}" />
</head>

<body onload="initial_load()">
    <div class="container">
        <div id="instructions">
            <h1>Trivia</h1>
            <div class="infocard">
                <h3>How to Play</h3>
                <p>Answer the questions.<br>
                <b>Caution:</b> you only get one shot per question!</p>
            </div>
            <div class="infocard">
                <h3>Scoring</h3>
                <p>Each question is worth the same amount.</p>
            </div>
            <div class="infocard">
                <h3>How to Exit</h3>
                <p>Simply close the window!</p>
            </div>
        </div>
        <div id="game">
      <div class="game-window">
        <div id="confirm-submit" class="top"> How'd you do? </div>
        <div id="question">Loading question...</div>
        <div id="answer"> <input id="solution" type="text" placeholder="Answer Here"></div><br><br>
        <button id="next" onclick="next()"> Submit </button>
    </div></div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='javascript/firebase.js')}}"></script>
<script src="{{url_for('static', filename='javascript/common.js')}}"></script>
<script>
var q_no = 0;
var user_id = -1;

function initial_load() {
  start_firebase();
  firebase.database().ref("users").once("value").then(function(snapshot) {
    var users = snapshot.val();
    for (var i = 0; i < users.length; i++) {
      if (users[i]["name"] == '{{username}}') {
        user_id = i;
        q_no = users[i]['trivia_question'];
        load_question(q_no);
      }
    };
  });
}

function load_question(q_no) {
  $.ajax({
    type: "GET",
    url: "/api/trivia_game",
    data: {
      "question": q_no
    },
    success: function(data) {
      document.getElementById("question").innerHTML = data
    }
  });
}
function next() {
  var guess = document.getElementById('solution').value;
  if (guess == "") {
    return;
  }
  
  $.ajax({
    type: "POST",
    url: "/api/trivia_game",

    data: {"answer": guess, "question": q_no},
    success: function(data) {
      document.getElementById("question").innerHTML = "Loading question...";
      document.getElementById('solution').value = "";
      data = JSON.parse(data);
      var result_box = document.getElementById("confirm-submit");
      result_box.style.display = "block";
      result_box.innerHTML = data["result"];
      if (data["result"] == "Correct!") {
        increase_score("trivia", user_id, 10);
      }
      q_no++;
      firebase.database().ref("users/"+ user_id.toString() + "/").update(
        {"trivia_question": q_no});
      load_question(q_no);
    },
  });
}
</script>

</html>
