<html>
  <head>
    <title>Leaderboards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/Gametech/leaderboard.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/Gametech/jquery.mCustomScrollbar.css') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
  </head>
  <body onload="load_scores()">
    <div class="container">
        <div id="leaderboard" class="mCustomScrollbar" data-mcs-theme="light">
          <h1>Leaderboard</h1><br>
          <div id="bull"></div><br>
          <div id="shit"></div>
      </div>
      <div id="filler">
          <div class="tile">
              <div class="flipper">
        		<div class="front">
        			<img src="assets/img/octocat.png" />
        		</div>
        		<div class="back" class="mCustomScrollbar" data-mcs-theme="light">
                    <div class="info">
            			<h1>{{game_name.chameleon_game}}</h1>
                        <p>{{game_desc.chameleon_game}}</p>
                        <a href="{{game_link.chameleon_game}}?username={{name}}">launch</a>
                </div>
        		</div>
            </div>
	       </div>
           <div class="tile">
               <div class="flipper">
         		<div class="front">
         			<img src="assets/img/code-golf.png" />
         		</div>
         		<div class="back">
                    <div class="info">
         			<h1>{{game_name.code_golf_game}}</h1>
                    <p>{{game_desc.code_golf_game}}</p>
                    <a href="{{game_link.code_golf_game}}?username={{name}}">launch</a>
         		</div>
             </div>
 	       </div>
       </div>
           <div class="tile">
               <div class="flipper">
         		<div class="front">
         			<img src="assets/img/trivia.png" />
         		</div>
         		<div class="back">
                    <div class="info">
                    <h1>{{game_name.trivia_game}}</h1>
                    <p>{{game_desc.trivia_game}}</p>
                    <a href="{{game_link.trivia_game}}?username={{name}}">launch</a>
                </div>
         		</div>
             </div>
 	       </div>
           <div class="tile">
               <div class="flipper">
         		<div class="front">
         			<img src="assets/img/chart.png" />
         		</div>
         		<div class="back">
                    <div class="info">
                    <h1>{{game_name.chart_game}}</h1>
                    <p>{{game_desc.chart_game}}</p>
                    <a href="{{game_link.chart_game}}?username={{name}}">launch</a>
                </div>
         		</div>
             </div>
 	       </div>
      </div>
    </div>
  </body>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
  <script src="{{url_for('static', filename='js/common.js')}}"></script>
  <script>
    function load_scores() {
      start_firebase();
      firebase.database().ref("/").once("value").then(function(snapshot) {
        var name = "{{name}}";
        var snap = snapshot.val();
        var users = snap["users"].sort(
          function(a, b) {
            return b["score"] - a["score"];
          });
        for (var i = 0; i < Math.min(20, users.length); i ++) {
          if (users[i]["name"] == name) {
            score = users[i]["score"]
            document.getElementById("bull").innerHTML += '<p><span class="place">' + (i+1).toString() +
              '</span> You ({{name}}) <span class="score">' + score.toString() + "</span></p>";
          };
          document.getElementById("shit").innerHTML +=
            '<p><span class="place">' + (i+1).toString() + "</span> " + users[i]["name"] + ' <span class="score">' +
              users[i]["score"].toString() + "</span></p>";
        }
      });
    }
  </script>
  <script>
    (function($){
        $(window).on("load",function(){
            $("#leaderboard").mCustomScrollbar();
            $(".back").mCustomScrollbar();
        });
    })(jQuery);
</script>
</html>
