<html>
  <head>
    <title>Gametech - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <script src="{{url_for('static', filename='javascript/particles.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/app.js')}}"></script>
  </head>
  <body>
      <div id="particles-js">
              </div>
        <div class="container">
          <h1 id="title"><a href="/">Gametech</a></h1>
          <br>
          <form action="" method="post">
            <input id="username" type="text" placeholder="Username" name="username" autocomplete="off" value="{{
              request.form.username }}"> <br>
             <input id="password" type="password" placeholder="Password" name="password" value="{{
              request.form.password }}"> <br>
             <input id="newpassword" type="text" placeholder="" name="newpassword" value="">
             <br>
            <input id="loginbutton" type="submit" value="Login">
            <input id="registerbutton" onclick="register()" type="reset" value="Register">
            <input id="createaccount" onclick="create()" type="reset" value="Create Account">
          </form>
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='javascript/firebase.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/common.js')}}"></script>
    <script>
      function register() {
        $.ajax({
          type: "GET",
          url: "/api/passwordgen",
          success: function(data){
            document.getElementById('newpassword').style.display = "block";
            document.getElementById('newpassword').value = data;
            document.getElementById('password').style.display = "none";
            document.getElementById('loginbutton').style.display = "none";
            document.getElementById('createaccount').style.display = "block";
            document.getElementById('registerbutton').style.display = "none";
          }
        });
      };

      function create() {
        var newUsername = document.getElementById('username').value;
        var newPassword = document.getElementById('newpassword').value;
        document.getElementById('loginbutton').style.display = "block";
        document.getElementById('createaccount').style.display = "none";
        document.getElementById('newpassword').style.display = "none";
        document.getElementById('password').style.display = "block";
        create_user(newUsername);
      };
    </script>
  </body>
</html>
